{% extends 'layouts/client_base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block extrastyle %}

<style>

.iframe-container {display: flex; width: 100%; height: 100%; flex-direction: column; overflow: hidden;}
.parent-fit { flex-grow: 1; border: none; margin: 0; padding: 0; height: 100vh; }

</style>

{% endblock extrastyle %}

{% block content %}

<div class="row">
  <div class="col-md-12"> 
      <table class="table table-responsive">
        <thead>
          <tr class="fw-bolder">
            <th>ID</th>
            <th>Type_of_software</th>
            {% comment %} <th>Vendor_id</th> {% endcomment %}
            <th>Website</th>
            {% comment %} <th>Product_category</th> {% endcomment %}
            <th>Description</th>
            <th>Software_name</th>
            <th>Business_areas</th>
            <th>Modules</th>
            <th>Financial_services_client_types</th>
            <th>Cloud_type</th>
            <th>Additional_info</th>  
          </tr>       
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
          <td>{{ product.id   }}</td>
          <td>{{ product.type_of_software }}</td>
          <!-- <td>{{ product.website }}</td> -->
          <td><a href="{{ product.website }}">{{ product.website }}</a></td>
          <td>{{ product.description  }}</td>
          <td>{{ product.software_name   }}</td>
          <td>{{ product.modules     }}</td>
          <td>{{ product.financial_services_client_types  }}</td>
          <td>{{ product.created_by  }}</td>
          <td>{{ product.cloud_type  }}</td>
          <td>{{ product.additional_info   }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% endblock content %}
