
{% comment %} {% extends 'layouts/base.html' %} {% endcomment %}
{% load static %}
{% block content %}
  
    {% comment %} Navbar starts here {% endcomment %}

    <!-- Navbar -->
    {% include 'includes/navbar.html' %}
    <!-- Navbar -->

    {% comment %} navbar ends here {% endcomment %}

    <!-- Hero sections starts here -->
   
    {% include 'includes/hero.html' %}
    <!-- hero section ends here -->
    {% comment %} services starts here {% endcomment %}
    
    {% include 'includes/services.html' %}
    
    {% comment %} Services ends here  {% endcomment %}

    {% comment %} map starts here {% endcomment %}
    
    {% include 'includes/world_map.html' %}
    
    {% comment %} map ends here {% endcomment %}
    


<!-- Footer start -->
{% include 'includes/footer.html' %}
<!-- Footer end -->

{% comment %} {% endblock content %} {% endcomment %}
{% endblock content %}