  <table class="table table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>Type_of_software</th>
            <th>Vendor_id</th>
            <th>Website</th>
            <th>Product_category</th>
            <th>Description</th>
            <th>Software_name</th>
            <th>Business_areas</th>
            <th>Modules</th>
            <th>Financial_services_client_types</th>
            <th>Cloud_type</th>
            <th>Additional_info</th>  
          </tr>       
        </thead>
        <tbody>
          {% for p in products %}
          <tr>{{ p }}</tr>
          {% endfor %}
        </tbody>
      </table>