 <div
      lc-helper="background"
      class="container-fluid py-5 mb-4 d-flex justify-content-center"
      style="
        background-image: url('https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?auto=compress&cs=tinysrgb&w=2000');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div
        class="p-5 mb-4 lc-block col-xxl-7 col-lg-8 col-12"
        style="
          backdrop-filter: blur(6px) saturate(102%);
          -webkit-backdrop-filter: blur(300px) saturate(102%);
          background-color: #eef4ed;
          border-radius: 12px;
          border: 1px solid rgba(209, 213, 219, 0.3);
        "
      >
        <div class="lc-block">
          <div editable="rich">
            <h2 class="fw-bolder display-3 text-primary">CitiSoft</h2>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
          <div editable="rich">
            <p class="lead h4">
              You are welcome to CitiSoft. We are committed to providing our clients with the tools and resources they need to make informed decisions and achieve their business objectives. With our comprehensive vendor inventory management system, you can trust that you're getting access to the best and brightest vendors in the industry.
            </p>
          </div>
        </div>
        <div class="lc-block">
          <a class="btn btn-primary" href="multi_users.html" role="button"
            >Get Started</a>
        </div>
      </div>
    </div>

  