<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/ctas/cta-3/assets/css/cta-3.css">

<section class="bsb-cta-3 py-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="container-fluid bg-light border shadow">
          <div class="row">
            <div class="col-12 col-md-6 p-0">
              <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-5 p-xl-8">
                  <h4 class="fw-bold mb-4">Innovative Design Strategies</h4>
                  <p class="mb-4 mb-xl-5 text-secondary">Innovation drives our designs as we constantly explore emerging technologies to deliver cutting-edge experiences. We believe in putting the user at the center of our design process.</p>
                  <a href="#!" class="fw-bold text-decoration-none link-primary">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 p-0 border-top border-bottom border-start">
              <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-5 p-xl-8">
                  <h4 class="fw-bold mb-4">Modern Marketing Strategies</h4>
                  <p class="mb-4 mb-xl-5 text-secondary">Our marketing strategies are a testament to customer-centricity. By leveraging data-driven insights, we create impactful campaigns that resonate with today's discerning audiences.</p>
                  <a href="#!" class="fw-bold text-decoration-none link-primary">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>