{% load static %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'assets/css/services.css' %}">

<div class="services pd">
      <div class="container">
        <h3 class="title">Services</h3>
        <div class="row text-center">
          <div class="col-md-3">
            <div class="square"><i class="fas fa-code"></i></div>
            <div class="serv">
              <h5>Clean Code</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="serv">
              <div class="square"><i class="fas fa-cogs"></i></div>
              <h5>Problem Solving</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="square"><i class="fas fa-globe"></i></div>
            <div class="serv">
              <h5>Best Domain</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="square"><i class="fas fa-user-shield"></i></div>
            <div class="serv">
              <h5>Secure Website</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>