{% extends 'layouts/vendor_base.html' %}
{% block content %}

<div class="jumbotron">
   {% if registered %}
        <h1>Thanks for registering, Please Log in!</h1>
    {% else %}
        <h1>Registration for Students:</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ var_clientForm.as_p }}
            {{ var_clientAddForm.as_p }}
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
    {% endif %}
</div>


{% endblock %}
